<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659920732970-0cqqqhtqkrfsnm1447kfci6cg583jslt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659920732970-0cqqqhtqkrfsnm1447kfci6cg583jslt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659920732970-ae3dia5307g0kb9o13eq4up4k2bsg5jv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDT74rmhpnaGvAgKYWMF-saereTn1JNTxw</string>
	<key>GCM_SENDER_ID</key>
	<string>659920732970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techndevs.SocialLogins</string>
	<key>PROJECT_ID</key>
	<string>rn-social-logins</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-social-logins.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659920732970:ios:e5247e7794625ff1bfd453</string>
	<key>DATABASE_URL</key>
	<string>https://rn-social-logins.firebaseio.com</string>
</dict>
</plist>